//*** PLACMENT REPORT TABLE

// SALES GOALS

// SALES AVERAGE
.sales_average__con {
    .sales_average_chart__con {
        .bg {
            background: #E3E4E6; 
            width: 86%;
            height: 22px;
            border-radius: 6px; 
            position: absolute;
            
            .cur {
                background: #0A94FF; 
                width: 40%;
                height: 22px;
                border-radius: 6px;
            }

            .line {
                width:4px; 
                height:45px;
                background:#1AD598;
                position:relative; 
                right: 10px;
                top: -32px;
                left: 300px;
                border-radius: 2px;
            }
        }
    }
}





// Recent Expense
.re__header {
    margin: 5px 20px;
}
.re__table_data {
    background-color: #E2E7F133;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 10px 0;
}

// Recent Sale
.recent_sale__table {
    min-width: 100%;
    max-width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;

    .recent_sale__thead {
        height: 70px;
        .rs_th_tr {
            th {}
        }
    }

    .recent_sale__tbody {
        .rs_tbody_tr {
            td {
                vertical-align: center;
                background: #E2E7F133;
                border-radius: 10px;
                padding: 15px;
            }
        }
    }
}

